<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Alta de pagos</title>
    <link rel="shortcut icon" type="image/x-icon" href="./imagenes/sistema.ico" />            

<link type='text/css' href='css/demo.css' rel='stylesheet' media='screen' />
<link REL="stylesheet" TYPE="text/css" HREF="css/estilos.css" /> <!-- Estilos de la tabla -->
<!-- OSX Style CSS files -->
<link type='text/css' href='css/osx.css' rel='stylesheet' media='screen' />
        
    </head>
    
<link href="css/datepicker.css" type=text/css rel=stylesheet>
<script language="JavaScript" src="./js/datepicker.js"></script>         
<script type="text/javascript" src="./js/jquery-1.3.2.js" ></script>            
<script type="text/javascript" src="./js/propias.js" ></script>            
<script type="text/javascript">   
            $(document).ready(function(){                
                //--------------------------------------------------------------------------------------------------
                // eventos de la busqueda de clientes
                //--------------------------------------------------------------------------------------------------
                $("#e_buscar_cliente_ctacte").mouseover( function(){carg_cliente = 2;}); // busqueda de cliente de cta. cte.
                
                $("#b_aceptar_clientes"    ).click(function(){seleccionar_cliente_buscado(carg_cliente); });
                $("#b_buscar"              ).click(function(){buscar_clientes();                    });

                //--------------------------------------------------------------------------------------------------
                //----------------  eventos de la Alta de clientes -------------------------------------------------
                //--------------------------------------------------------------------------------------------------
                $("#e_alta_cliente_ctacte" ).click(function(){abrir_ventana('Alta de clientes','./abm/abm_clientes.php',400,600); });
                $("#e_alta_banco_ctacte"   ).click(function(){abrir_ventana('Alta de bancos'  ,'./abm/abm_bancos.php',  400,600); });
                
                //---------------------------------------------------------------------------------------------------
                //----------------  botones en forma des pagos  -----------------------------------------------------
                //---------------------------------------------------------------------------------------------------
                $("#carga_datos_pagos").css('background-color',"#F5ECCE");
                $("#e_forma_de_pago_contado" ).change( function() { seleccionar_forma_de_pagos(); });
                $("#e_forma_de_pago_ctacte"  ).change( function() { seleccionar_forma_de_pagos(); });
                $("#e_forma_de_pago_cheque"  ).change( function() { seleccionar_forma_de_pagos(); });
                $("#e_forma_de_pago_destino" ).change( function() { seleccionar_forma_de_pagos(); });

                $("#b_agregar_pago"        ).click(function(){agregar_pago_al_listado_de_pago();  });
                $("#b_vaciar_la_tabla_pago").click(function(){vaciar_tabla_pago()                 });
                $("#b_eliminar_pago"       ).click(function(){eliminar_pago_al_listado_pago();    });

                //---------------------------------------------------------------------------------------------------
                // ------------------- Botones de Mando finales -----------------------------------------------------
                //---------------------------------------------------------------------------------------------------
                $("#b_aceptar"             ).click(function(){enviar_ventana($("#h_nombre_cliente").val());                     });
                $("#b_cancelar"            ).click(function(){cerrar_ventana();                     });
                
            })     
    
    
            //------------------------------------------
            // Cierra la ventana 
            //------------------------------------------
            function cerrar_ventana(){
                if (confirm('¿Segúro de cancelar el pago?'))
                    window.close();
            }

            //----------------------------------------------------------------------
            // Impresión de encomienda
            //----------------------------------------------------------------------
            function preguntar_pdf(nro, nom) {
                abrir_ventana('Visualizar comprovante de pagos', 'mostrar_pagos.php?id='+nro+'&nom_cli='+nom, 600, 1000);
            }

    
            function enviar_ventana(nombre){
                // verificamos que al hacer click en aceptar esten todos los 
                // datos cargados correctamente
                //                if (validar_carga_de_datos()==true)
                if (confirm("¿Segúro de guardar los pagos?")) {                                 
                    var fila2 = [];
                    var pagos = [];                        
                    // recorremos la tabl a de detalle pagos para generar un vector con los datos a guaradar en la tabla.
                    $('#cuerpo_detalle_pagos tr').each(function(){ //filas con clase 'dato', especifica una clase, asi no tomas el nombre de las columnas
                            fila2.push($(this).find('td').eq(3).text()) //numero de la celda 3
                            pagos.push(fila2);   
                    });                        
                    
                    var parametros = {
                                    "e_pagos" : pagos,
                                    "id_cliente" : $("#h_id_cliente").val()//myTableArray                                    
                    };
                    
                    $.ajax({                          
                            data:  parametros,
                            url:   'insertar_pagos.php',
                            type:  'post',                            
                            
                            beforeSend: function () {                            
                                $("#resultado").html("Procesando, espere por favor...");
                            },                            
                            success:  function (response) {
                                     preguntar_pdf( response, nombre );
                                     //   alert("La encomienda se creo correctamente...");
                                     window.close();
                            }                            
                    });                        
                }
            }

    
    
    
        //------------------------------------------------------------------------------
        // devuelve lo encontrado al precionar el boton aceptar del buscador de clientes
        //------------------------------------------------------------------------------
	function seleccionar_cliente_buscado(carg_cliente){             
                var res = $('#h_seleccion').val(); // obtenemos (nro, dni, nombre, direccion, id_loc, localidad, id_prov, provincia, tel )               
                var res1 = res.split("|");                 
                if (carg_cliente==0){                   
                	// completamos lo de remitente    
                    $("#e_dni_remitente" ).val( res1[2] );
                    $("#e_remitente"     ).val( res1[3] );
                    $("#e_dir_remitente" ).val( res1[4] );
                    
                    $("#e_loc_remitente" ).attr('value', res1[5] );
                    $("#e_loc_remitente" ).val(res1[6]);
                    
                    $("#e_prov_remitente").attr('value', res1[7] );
                    $("#e_prov_remitente").val(res1[8]);
                    
                    $("#e_tel_remitente" ).val( res1[9] );     
                    
                    // Autocompleta los datos del destinatario buscando datos en 
                    // la tabla DESTINOS_COMUNES_CLIENTES
                    if (confirm("¿Autocompletar los datos de destino?")){
                        buscar_destinos_comunes_de_clientes(res1[1]);
                    }
                 }else{
                    if (carg_cliente==1){                
                	// completamos lo de destinatario        
                        $("#h_id_cliente" ).   val( res1[1] );
                    	
                        $("#e_dni_destinatario" ).val(res1[2]);
                    	$("#e_destinatario"     ).val(res1[3]);
                    	$("#e_dir_destinatario" ).val(res1[4]);
                        
                    	$("#e_loc_destinatario" ).attr('value',res1[5]);
                    	$("#e_loc_destinatario" ).val(res1[6]);
                        
	                $("#e_prov_destinatario").attr('value',res1[7]);
    	                $("#e_prov_destinatario").val(res1[8]);
        	            
            	        $("#e_tel_destinatario" ).val(res1[9]);                                      
                                                                                                                 
                    }else{
                 	
                        // completamos lo de forma de pago
                    	$("#e_cliente_ctacte" ).val( res1[3] );
	                $("#h_id_cliente_ctacte"     ).val( res1[0] );
                        
                    }
                }
        }
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        // habilitacion de loas formas de pago posible
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        //----------------------------------------------------------------------------
        function seleccionar_forma_de_pagos(){       	
  		$("#e_importe_pago").        attr('disabled',true);
  		$("#e_cliente_ctacte").      attr('disabled',true);
  		$("e_buscar_cliente_ctacte").attr('disabled',true);
  		$("e_buscar_cliente_ctacte").attr('disabled',true);
  		$("#e_cheque_fecha_emision").attr('disabled',true);
  		$("#e_cheque_fecha_cobro").  attr('disabled',true);
  		$("#e_cheque_nro_cheque").   attr('disabled',true);
  		$("#e_cheque_banco").        attr('disabled',true);
  		$("#e_cheque_operacion").    attr('disabled',true);
  		$("#e_cheque_a_nombre_de").  attr('disabled',true);
  		$("#e_recibido_de").         attr('disabled',true);

  		$("#div_ctacte").            attr('style',"display: none");
  		$("#div_cheque").            attr('style',"display: none");

  		$("#div_titulo_ctacte").     attr('style',"display: none");
  		$("#div_titulo_cheque").     attr('style',"display: none");
  		$("#div_titulo_contado").    attr('style',"display: none");
                $("#div_pago_destino").      attr('style',"display: none");

                $("#e_importe_pago").val(  parseFloat($("#e_precio").val()).toFixed(2) - parseFloat($("#e_mostrar_pago").html()).toFixed(2));

        	// si es de contado
        	if ($("#e_forma_de_pago_contado").is(":checked")) {
                    $("#e_importe_pago").attr('disabled',false);
                    $("#e_importe_pago").val("0.00");
                    $("#e_importe_pago").focus();  					
                    $("#carga_datos_pagos").css('background-color',"#F5ECCE" );
                    
        	}else{ // si es un cheque
                    
                    $("#e_importe_pago").val("0.00");
                    if ($("#e_forma_de_pago_cheque").is(":checked")) {

                        $("#div_cheque").  attr('style',"display: block");

  			$("#e_importe_pago").attr('disabled',		 false);
  			$("#e_cheque_fecha_emision").attr('disabled',false);
  			$("#e_cheque_fecha_cobro").attr('disabled',	 false);
  			$("#e_cheque_nro_cheque").attr('disabled',	 false);
  			$("#e_cheque_banco").attr('disabled',		 false);
  			$("#e_cheque_operacion").attr('disabled',	 false);
  			$("#e_cheque_a_nombre_de").attr('disabled',	 false);
  			$("#e_recibido_de").  attr('disabled',false);
                        $("#e_cheque_propio1").attr('disabled',	 false);
                        $("#e_cheque_propio2").attr('disabled',	 false);
  					
  			$("#e_cheque_fecha_emision").focus();
  			$("#carga_datos_pagos").css('background-color',"#A9D0F5" );
  					
                    }
   		}       
        }

//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los cheques 
//----------------------------------------------------------------------------------
            function validar_carda_de_cheque(){
                     var aux = false;
                     if ( $("#e_cheque_banco").attr('id')==0){                        
                         alert('Debe completar a que Banco pertenece el cheque.');
                         $("#e_cheque_banco").focus();
                     }else{
                        
                        if ( $("#e_cheque_nro_cheque").attr('id')==0){                        
                            alert('Debe completar el nro de cheque.');
                            $("#e_cheque_nro_cheque").focus();
                        }else{
                             aux =  true;
                        }    
                     
                     }    
                     return aux;
            }
//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los cheques 
//----------------------------------------------------------------------------------
            function validar_carda_de_ctacte(){
                     var aux = false;                     
                     if ($("#e_cliente_ctacte").val()==''){                        
                         alert('Debe completar al cliente que contiene la cta. cte.');
                         $("#e_cliente_ctacte").focus();
                     }else{
                         aux = true;
                     }
                     return aux;
            }
//---------------------------------------------------------------------------------
// Verificamos que se cargen correctamente los datos de cobro en destino 
//----------------------------------------------------------------------------------
            function validar_pago_destino  (){
                     var aux = false;                                          
                     if ($("#e_nombre_pago_destino").val()==''){                        
                         alert('Debe completar el destinatario para determinar donde y a quien cobrar.');
                         $("#e_destinatario").focus();
                     }else{
                         aux = true;
                     }
                     return aux;
            }
        
//-----------------------------------------------------------------------------------
// Completa el listado de pagos asociadas a la guia de encomienda.
// accion: registra el pago, contado, o cta. cte., o cheques. Incrementando el 
//          total de pagos.
//-----------------------------------------------------------------------------------
            function agregar_pago_al_listado_de_pago(){
                // Si el importe a agregar es mayor que cero
                var importe = $("#e_importe_pago").val();
            
                if (importe>0) {                    
                    var dato_pago = '';
                    var a0 = parseInt( $("#h_cantidad_pago").val() ) + 1;
                    var a1 = 0.00;
                    var a2 = 0.00;
                    var a3 = 0.00;
                    var detalle_pago = '';
                    
                    var carga_correcta_cheque = 'S';
                    var carga_correcta_ctacte = 'S';
                    //---------------------------------------------------------------------------------------------------------------------
                    // juntamos los datos para guardarlo en el objeto h_detalle_pago
                    // si es de contado se completaran los espacios con ' '.                    
                    //---------------------------------------------------------------------------------------------------------------------
                    if ($("#e_forma_de_pago_contado").is(":checked")) {
                        detalle_pago = 'Efectivo';
                         dato_pago = '1|'+importe+'| | | | | | | | '; // completamos los espacios
                    }else{
        		 if ($("#e_forma_de_pago_cheque").is(":checked")) {
                            //-----------------------------------------------------
                            // validamos los datos correctos para la carga de cheques
                            if (validar_carda_de_cheque()){
                               
                                detalle_pago = 'Cheque Nro: '+$("#e_cheque_nro_cheque").val();    
                                dato_pago = '2|'+importe+'|'+$("#e_cheque_fecha_emision").val()+'|'+$("#e_cheque_fecha_cobro").val()+'|'+
                                    $("#e_cheque_nro_cheque").val()+'|'+$("#e_cheque_operacion").val()+'|'+
                                    $("#e_cheque_a_nombre_de").val()+'|'+$("#e_recibido_de").val()+'|'+$("#e_cheque_banco").val()+'|'+$("input:radio[name=e_cheque_propio]:checked").val();
                            
                                carga_correcta_cheque = 'S';
                            }else{
                                carga_correcta_cheque = 'N';
                            }
                         }else{
                            if ($("#e_forma_de_pago_ctacte").is(":checked")) {
                                if (validar_carda_de_ctacte()){
                                   detalle_pago = 'Cta. Cte.: '+$("#e_cliente_ctacte").val();
                                   dato_pago = '3|'+importe+'|'+$("#h_id_cliente_ctacte").val()+'| | | | | | | '; // completamos los espacios
                                   carga_correcta_ctacte = 'S';
                                }else{    
                                   carga_correcta_ctacte = 'N'; 
                                }
                            }else{
                                if (validar_pago_destino()){                            
                                    detalle_pago = 'Pago Dest.';
                                    dato_pago = '4|'+importe+'| | | | | | | | '; // completamos los espacios
                                    carga_correcta_pago_destino = 'S';
                                }else{
                                    carga_correcta_pago_destino = 'N';
                                }
                                
                            }
                         }
                     }
                    //------------------------------------------------------------------------------------------------------
                    // verificamos que las variables de control de ingreso de dato para el pago correspondiente esten en 'S'
                    //------------------------------------------------------------------------------------------------------
                    if ((carga_correcta_ctacte=='S')&&(carga_correcta_cheque=='S')){
                       
                        //---------------------------------------------------------------------------------------------------------------------                   
                        var strNueva_Fila='<tr bgcolor="aaeeff">'+
			             '          <td align="center"><INPUT type="checkbox" NAME="chk2"></input></td>'+                                                
                                     '          <td align="center">'+detalle_pago+'</td>'+
                                     '          <td align="center">$'+$("#e_importe_pago").val()+'</td>'+
                                     '          <td style="display:none" id="id0">'+dato_pago+'</td>'+
                                     '      </tr>';                        
                             
                        var objTabla=$('#t_detalle_pagos').parents().get(2);
                   
                        a1 = parseFloat($("#e_importe_pago").val()).toFixed(2);   
                        a2 = parseFloat($("#h_total_pago").val()).toFixed(2);
                        a3 = parseFloat(a1) + parseFloat(a2);
                        //agregamos la nueva fila a la tabla
                       //-- sergio -- $(objTabla).find('tbody').append( strNueva_Fila );
                         $(objTabla).find('#cuerpo_detalle_pagos').append( strNueva_Fila );
                        $("#h_cantidad_pago").val(a0);                  
                        $("#h_detalle_pago").val();                  
                        $("#h_total_pago"  ).val(a3);
                        $("#e_mostrar_pago").html(a3);   
                   
                        //si el cuerpo la tabla esta oculto (al agregar una nueva fila) lo mostramos
                        if (!$(objTabla).find('tbody').is(':visible')){
                             //le hacemos clic al titulo de la tabla, para mostrar el contenido
                             $(objTabla).find('caption').click();
                        } 
                        $("#e_importe_pago").val( (parseFloat($("#e_precio").val()).toFixed(2) - parseFloat($("#e_mostrar_pago").html()).toFixed(2)).toFixed(2) );

                    }// Finalizando la verificacion de ingreso de datos
                    
                }else{
                    alert("El importe del pago debe ser superior a 0.00...");
                }                 
                
                $("#e_importe_pago").val("0.00");
    
        }   
            
            //------------------------------------------------------------------
            //------------------------------------------------------------------
            function vaciar_tabla_pago(){
                //evento que se produce al hacer clic en el boton que elimina una tabla completamente
                //$(document).on('click','.clsEliminarTabla',function(){
                $("#t_detalle_pagos > tbody").empty();
                $("#h_cantidad_pago").val(0);
                $("#h_total_pago").val(0.00);                
                $("#e_mostrar_pago").html("0.00");
                $("#e_importe_pago").val("0.00");
            }
            //------------------------------------------------------------------
            // 
            //------------------------------------------------------------------
	    
            //------------------------------------------------------------------
            //------------------------------------------------------------------
	    function eliminar_pago_al_listado_pago(){
               try {
                    var mensaje = "Debe seleccionar un pago para eliminarlo...";
                    var table = document.getElementById("cuerpo_detalle_pagos");
                    var borrado = false; // determina si se realizo el borrado
                    var rowCount = table.rows.length; // determina la cantidad de filas
                    if (rowCount>1){
                        for(var i=0; i<rowCount; i++) {
                            
                            var row = table.rows[i];
                            var chkbox  = row.cells[0].childNodes[0];
                            var importe = row.cells[2].childNodes[0].nodeValue;
                            importe = importe.substring(1);

                            if((null != chkbox) && (true == chkbox.checked)) {
                                table.deleteRow(i);
                                rowCount--;
                                i--;
                                borrado = true;
                                // restamos de los totales
                                $("#h_cantidad_pago").val(   parseInt($("#h_cantidad_pago").val()) - 1);
                               
                                $("#h_total_pago").val( parseFloat( parseFloat($("#h_total_pago").val()) - importe));
                                
                                $("#e_mostrar_pago").html( parseFloat($("#h_total_pago").val()) );   
                               
                            }                            
                        }
                        if(!borrado)
                            alert(mensaje);
                    }else{
                        var row = table.rows[0];
                        var chkbox = row.cells[0].childNodes[0];
                        if((null != chkbox) && (true == chkbox.checked)) {
                            vaciar_tabla_pago();
                        }else{
                            alert(mensaje)
                        }
                    }
               }catch(e) {
                    alert(e);
               }                
            }
            
                
</script>     
<body>     
    
    
<span id="resultado">
    <input name="e_usuario" type="hidden" value="{v_usuario}">                                     </input>
    <input id="h_id_cliente" name="h_id_cliente" type="hidden" value="{v_id_cliente}" >            </input>            
    <input id="h_nombre_cliente" name="h_nombre_cliente" type="hidden" value="{v_nombre_cliente}" ></input>        
</span>
    
    
<div align="center">
<table border="1"  align="center" cellspacing="0" bordercolor="#DCDCDC" style="width:550">
    <!-- thead -->
        <tr>
            <td align="center" bgcolor="{v_color_cabezera_tabla}" colspan="4">
                <font face="Arial" size="5">
                <b>Administrador de Pagos</b>
                </font>	
            </td>                     
        </tr>
    <!-- /thead -->
    
    <!-- tbody -->    
        
        <tr>
            <td style="width: 20" colspan="4">
                <input type="radio" id="e_forma_de_pago_contado" checked name="e_forma_de_pago" value="0">Contado</input>
                <input type="radio" id="e_forma_de_pago_cheque"          name="e_forma_de_pago" value="1">Cheque</input>               
            
                <font  face="Arial" size="1">
                    <a style="width: 200; color: red; align:center ">Nro. cliente a aplilcar el pago:{v_id_cliente} - {v_nombre_cliente}</a>
                </font>
                
            </td>
        </tr>
        
        <tr>

            <!-- ------------------------------------------------------------------------------------
                                            forma de pagos                    	
            -------------------------------------------------------------------------------------- -->	
            <td style="width: 600; height: 150" id="carga_datos_pagos">
                <!-- --------- Detalle de titulos ------------------------- -->
                <div align="left" id="carga_datos_pagos">
                    <div id="div_cheque" style="display: none" >              
                        Fecha Emisión:<input type="date" id="e_cheque_fecha_emision" disabled/>
                        Fecha Cobro  :<input type="date" id="e_cheque_fecha_cobro" disabled /><br>
                        Nro. Cheque  :<input type="text" id="e_cheque_nro_cheque" size="10" disabled/>
                        <input type="hidden" id="h_id_banco"/>
                        Banco        :<select name="e_cheque_banco" size="1" id="e_cheque_banco" disabled>{v_comboBox_banco}
                                    </select>
                                        <input TYPE="image" SRC="./imagenes/agregar.png" BORDER="0" name="e_alta_banco_ctacte" id="e_alta_banco_ctacte" />                          
                                        <br>
                                        Operación:<input type="text" id="e_cheque_operacion" size="50" disabled/><br>
                                        A nombre de:<input type="text" id="e_cheque_a_nombre_de" size="50" disabled/><br>
                                        Recibido de:<input type="text" id="e_recibido_de" size="50" disabled/><br>
                                        Cheque propio:    Si:<input type="radio" name="e_cheque_propio" id="e_cheque_propio1" value="S" checked disabled/>
                                                          No:<input type="radio" name="e_cheque_propio" id="e_cheque_propio2" value="N" disabled/>                                
                     </div>                         
                     Importe:<input type="text" id="e_importe_pago" size="10" />                                                                       
                </div>                
            </td>
            <!-- ------------------------------------------------------------------------------------
		                    	Fin forma de pagos                    	
            ---------------------------------------------------------------------------------------->
        </tr>        
            
        <tr>        
            <td align="Center">
                <input TYPE="image" SRC="./imagenes/agregar2.png" BORDER="0" name="b_agregar_pago" id="b_agregar_pago" value="Agregar" />Agregar
                <input type="image" src="./imagenes/vaciar_tabla.png" value="Vaciar la carga pago" id="b_vaciar_carga_pago">Limpiar                            	                                                                          
            </td>
        </tr>

    
    
        <tr>
            <td>
                <br>
                      <font face="Arial" size="1">
                          Usted podrá realizar pagos mixtos ingresando distintos tipos de pagos.
                      </font>    
                    <br>
                    <br>                            
            </td>
        </tr>
    
    
    
    
        <tr>
            <div id="divContenedorTabla_pagos" align="center">                               
                
                <table id="t_detalle_pagos"  bordercolor="#DCDCDC" border="1" align="center" cellspacing="0" style="width:550">
                    <thead>
                        <tr> 
                            <th>                                            
                                <input TYPE="image" SRC="./imagenes/eliminar.png"  BORDER="0" name="b_eliminar_pago" id="b_eliminar_pago" value="-" />
                                <input type="image" src="./imagenes/vaciar_tabla.png" value="Vaciar la tabla" id="b_vaciar_la_tabla_pago">                            	                                                  
                            </th>
                            
                            <th>                                                       
                                Tipo de pago:
                            </th>                                            

                            <th>
                                Importe
                                <input type="hidden" id="h_cantidad_pago"value="{v_cantidad_pago}"/>                                            
                                <input type="hidden" id="h_detalle_pago" value="{v_detalle_pago}"/>
                                <input type="hidden" id="h_total_pago" value="{v_total_pago}"/>                                            
                            </th>
                        </tr>                                                                      
                    </thead>

                    <tbody id="cuerpo_detalle_pagos">
                        
                    </tbody>
                    
                    <tfoot>
                        <tr>
                            <td colspan="2" align="Right">Total pagado:</td>
                            <td align="center">
                                <span id="e_mostrar_pago">
                                    {v_total_pago}                                
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>                            
        </tr>
    
        <tr>
            <td>
                <br>
                    <br>
            </td>
        </tr>
    
        <tr>
            <td>
                <div align="center">                     
                    <table id='mandos' width="21%" border="0" align="center" cellspacing="0">
                        <tr align="center" valign="middle">
                            <td>                                       
                                <a data-role="button" href="#" data-shadow="false" data-theme="none">
                                    <input id="b_aceptar" TYPE="image" SRC="./imagenes/ok.png" BORDER="0" name="b_aceptar" value="Aceptar"/>
                                </a>
                                Aceptar
                            </td>

                            <td valign="middle">&nbsp;</td>
                            <td>
                                <a data-role="button" href="#" data-shadow="false" data-theme="none">
                                <input TYPE="image" SRC="./imagenes/cancelar.gif" BORDER="0" name="b_cancelar" id="b_cancelar" value="cancelar" click="cerrar_ventana();" />
                                </a>
                                Cancelar
                            </td>
                        </tr>	                    
                    </table>
                </div>              
            </td>
        </tr>
    <!-- /tbody -->
</table>
    
    
</body>
</html>


    