<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="./imagenes/sistema.ico" />            

<title>Untitled Document</title>
</head>

<body>
<table width="944" border="1">
  <tr>
    <td colspan="3" bgcolor="#66FF00"><div align="center"><strong>Buscardor de clientes</strong></div></td>
  </tr>
  <tr>
    <td width="171" rowspan="4"><img src="../imagenes/tildar2.jpg" alt="" name="imagen" width="146" height="127" id="imagen" /></td>
    <td width="331"><input type="radio" name="radio" id="e_ch_nombre" value="e_ch_nombre" />
      <label for="e_ch_nombre">DNI 
        <input name="radio" type="radio" id="e_ch_nombre2" value="e_ch_nombre" checked="checked" />
      Nombre<br />
    </label></td>
    <td width="420"><input type="radio" name="radio" id="e_ch_nombre3" value="e_ch_nombre" />
      <label for="e_ch_nombre3">DNI
        <input name="radio" type="radio" id="e_ch_nombre4" value="e_ch_nombre" checked="checked" />
    Nombre</label></td>
  </tr>
  <tr>
    <td>buscar:
      <input type="text" name="e_buscar" id="e_buscar" />
    <img src="../imagenes/busqueda.png" alt="" width="16" height="16" /></td>
    <td>buscar:
      <input type="text" name="e_buscar2" id="e_buscar2" />
    <img src="../imagenes/busqueda.png" alt="" width="16" height="16" /></td>
  </tr>
  <tr>
    <td height="25">{v_grilla_remitente}</td>
    <td>{v_grilla_destinatario}</td>
  </tr>
  <tr>
    <td height="0"><p>Cliente Seleccionado:</p>
      <p>Direccion:</p>
    <p>Tel:</p></td>
    <td><p>Cliente Seleccionado:</p>
      <p>Direccion:</p>
    <p>Tel:</p></td>
  </tr>
  <tr>
    <td height="0" colspan="3" align="center"><p><img src="../imagenes/ok.png" width="16" height="16" />Aceptar    <img src="../imagenes/cancelar.gif" width="16" height="16" /> Cancelar</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
