<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.style1 {
	font-size: 24px;
	font-weight: bold;
}
.style2 {font-size: 14px}
-->
        <link rel="shortcut icon" type="image/x-icon" href="./imagenes/sistema.ico" />            

</style>
</head>
<body>
<p>&nbsp;</p>
<table width="793" border="1" align="center" cellspacing="0">
  <tr>
    <td width="63" rowspan="2" scope="col">
	<div align="center">
		<a href="www.hssistemas.com.ar">
			<img src="{logo_proyecto}" alt="Logo" width="44" height="45" border="0" align="top" longdesc="http://www.hssistemas.com.ar" />
		</a>
	</div>
    </td>
    <td width="640" height="23" bordercolor="#000000" bgcolor="#FFCC33" scope="col">
	<div align="center" class="style1">{titulo}</div>
    </td>
    <td width="68" rowspan="2" scope="col"><div align="center"></div></td>
  </tr>
  <tr>
    <td height="23"><div align="left" class="style2">{cuerpo}</div></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>

