<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pasajes por adelantados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="osx-modal-content">
        <div id="osx-modal-title">Pasajes por Adelantados...</div>
        <div class="close"><a href="#" class="simplemodal-close">x</a></div>
        <div id="osx-modal-data">
        <table>
            <thead>
                <tr>
                    <td colspan="2">Pasajes por Adelantados</td>                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre:</td><td>
                        <input id="e_cliente_pasaje_adelantado"/>
                            <input type="image" src="./imagenes/busqueda.png" border="0" name="e_buscar_destinatario" id="e_buscar_destinatario" value="Buscar_destinatario" class='osx demo'/>
                            <input type="image" src="./imagenes/agregar.png" border="0" name="e_alta_destinatario" id="e_alta_destinatario" />
                    </td>
                </tr>
                <tr><td>Cantidad:</td><td><input id="e_cantidad_pasaje_adelantado"/> </td></tr>
                <tr><td>Total:</td><td><input id="e_total_pasaje_adelantado"/> </td></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" align="center">
                    
                        <div style="float: left;font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">
                            <input type="image" src="./imagenes/ok.png" value="imprimir" id="i_aceptar_pasaje_adelantado">
                            <br>Aceptar
                        </div>
                    
                        <div style="float: left;font-size: 11;margin: 2;border: 1px solid #cccccc;background-color: #ffffff;">               
                            <input type="image" align='center' src="./imagenes/cancelar.gif" value="a1" id="i_cancelar_pasaje_adelantado">
                            <br>Cancelar
                        </div>
                    
                    </td>                
                </tr>
            </tfoot>                
            
        </table>
        </div>
        </div>

    </body>
</html>
