<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{titulo_proyecto}</title>
<style type="text/css">
<!--
.Estilo2 {font-size: 12px}
.style5 {font-size: 10px}
.style6 {font-size: 14px}
-->
</style>
</head>
<body>
<table width="100%" height="48" border="1" align="center" cellspacing="0">
  <tr>
    <td width="106" height="42" scope="col"><div align="center"><a href="www.hssistemas.com.ar"><img src="{logo_proyecto}" alt="Logo" width="45" height="36" border="1" longdesc="http://www.hssistemas.com.ar" /></a></div></td>
    <td width="588" align="center" valign="middle" nowrap="nowrap" bgcolor="#FFCC33" scope="col"><h5 align="left" class="style5">{acerca_de}</h5>
    </td>
    <td width="92" scope="col"><div align="center" class="style6">{v_usuario}</div></td>
  </tr>
</table>
</body>
</html>

